.header {
    height: 300px;
    background: linear-gradient(transparent 10%, #fff),
                    #ffffee url(../img/thumb_DSC_1629_1024.jpg) no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 35px 0;
    margin: 0;

}



.header a, .header a:hover {
    color: white;
    font-family: "Helvetica Neue";
    text-decoration: none;
    font-weight: 100;
    text-shadow: 1px 1px 3px #222;
}

.content {
    padding: 20px;
}

#wish {
    border: 1px solid #ccc;
    margin: 1%;
    padding: 3px;
}

.wish-title {
    font-size: large;
    color: #7CA0C7;
    font-weight: 200;
    text-decoration: none;
}

.wish-content a:hover {
    color: #7CA0C7;
    text-decoration: none;
}